<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME 🏡</title>
  </head>
  <body>
    <!-- Display Variable -->
    <!-- -->
    <!-- <%= name %> -->
    <!--Conditional Statement-->
    


    <!-- Include/Partials -->
    <!-- Partials allows us to seperate our ejs code into smaller multiple components. -->
    <!-- So later if something unexpected happens in UI, we can quickly jump into specific partial and solve it. -->
    <!-- include(folder/filename, object) -->
  </body>
</html>
